<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todos</title>
    ${includes}

</head>
<body>
    ${navbar}
    <h1>Create a new todo!</h1>      
    <form action="" method="POST">
        <labe>Priority:     <input name='priority'></label><br />
        <label>Task:        <input name='task'></label><br />
        <label>User ID:     <input name='user_id'value=1></label><br />
        <input type="submit">
    </form>
</body>
</html>