<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>
    ${includes}
</head>
<body>
        ${navbar}
        <div id='profile-summary'>
            <div id='contact information'>
                <h2>
                    Display Name: ${displayname}
                </h2>
                <h3>
                    Username: ${username}
                </h3> 
            </div>
            <div id='button-tasks'>
                    <a href='/profile/todos'><button>See All Tasks</button></a>
                    <a href='/profile/todos/create'><button href='/profile/todos'>Add a Task</button></a>
            
            </div>
        </div>    
  
</body>
</html>