<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todos</title>
    ${includes}
</head>
<body>
    ${navbar}
    <h2>
        Tasks:
    </h2>
    <a href='/profile/todos/create'><button href='/profile/todos'>Add a Task</button></a>
    <div id='task-list'>
        <table id='tasks'>
            <tr>
                <th>Priority</th>
                <th>Task</th>
                <th>Status</th>
            </tr>
            ${
                todos.map((t)=>{
                    return `
                <tr>
                    <td>${t.priority}</td>
                    <td>${t.task}</td> 
                    <td>${t.status}</td>
                </tr>`
                }).join('')
            }
    </table>   
    </div>    
</body>
</html>